<!--The content below is only a placeholder and can be replaced.-->
<div class="listgroup">
  <div class = "parent">
    
    <div *ngFor="let arrItem of mappedArr; let i = index" cdkDropList [cdkDropListConnectedTo]="containerList" id="primary-{{i}}" (cdkDropListDropped)="dropped($event)">
      <div *ngFor="let item of arrItem; let idx=index">
        <div *ngIf="!item.children" class="line" cdkDrag [cdkDragData]="item">{{item}}</div>
        <app-child *ngIf="item.children" cdkDrag cdkDropList [cdkDropListConnectedTo]="containerList" 
                                [children]="item.children"
                                [containerId]="'nested-'+i"      
                                [cdkDragData]="item"
                                [containerList]="containerList" 
                                (dataDrop)="dropped($event)"
                                (cdkDropListDropped)="dropped($event)"></app-child>
      </div>
    </div>
    <!-- <div *ngFor="let item of dataArr; let i = index" cdkDropList 
        [cdkDropListConnectedTo]="attemp2List" id="primary"
        (cdkDropListDropped)="dropped($event)"
        (cdkDropListEntered)="newContainerDrag($event)"  
        (cdkDropListExited)="exitedContainer($event)">
        <div *ngIf="!item['children']" class="line" cdkDrag [cdkDragData]="item">{{item}}</div>
      <app-child *ngIf="item['children']" cdkDrag 
                                [children]="item['children']"
                                [containerList]="attemp2List"
                                [containerId]="i"      
                                [cdkDragData]="item" 
                                (cdkDropListDropped)="dropped($event)" 
                                (cdkDropListEntered)="newContainerDrag($event)"  
                                (cdkDropListExited)="exitedContainer($event)"></app-child>


    </div> -->
  </div>
</div>
